<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getvsm.ava">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.getvsm.ava.GlobalClass"
        android:theme="@style/AppTheme">




        <activity
            android:name="activities.HowItWorksActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="activities.RegisterActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="activities.LoginRegisterActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="activities.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="activities.HomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".ActivationActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="http"
                    android:host="ava.getvsm.com"
                    android:pathPrefix="/vsm/api/activation.php"

                    />
                <!--android:pathPrefix="/vsm/api/v1/activation.php"-->
                <!--android:pathPrefix="/gizmos"-->
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos”
                <data android:scheme="example"
                      android:host="gizmos" />
                -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="http"
                    android:host="ava.getvsm.com"
                    android:pathPrefix="/ui/reset-password.html"

                    />
                <!--android:pathPrefix="/vsm/api/v1/activation.php"-->
                <!--android:pathPrefix="/gizmos"-->
                <!-- note that the leading "/" is required for pathPrefix-->
                <!-- Accepts URIs that begin with "example://gizmos”
                <data android:scheme="example"
                      android:host="gizmos" />
                -->
            </intent-filter>
        </activity>


        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.tutorialspoint.CUSTOM_INTENT"></action>
            </intent-filter>
        </receiver>
        <!--<service-->
        <!--android:name=".BindService"-->
        <!--android:process=":my_process" />-->
        <service
            android:name=".BindService"
            android:process=":my_process" />
        <receiver
            android:name=".NetworkStateReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


    </application>

</manifest>
